:root {
    --font-size: 13px;

    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

        
    --font-sans: 'Manrope', sans-serif;
  }

*, *::before, *::after {box-sizing: border-box;}

body {
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    background-color: var(--LightGrayishBlue);
}

img { max-width: 100%;}

.card { 
    background-color: white;
    border-radius: 10px;
    margin: 3rem 1rem;
    position: relative;
}

.card__imageContainer { 
    height: 30vh;
    overflow: hidden;
}

.card__image { 
    display: block;
    width: 100%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__textContent { padding: 1.5rem 2.5rem; }
.card__title { color: var(--VeryDarkGrayishBlue); }

.card__description { 
    color: var(--DesaturatedDarkBlue); 
    line-height: 1.7;
}

.card__authorInfo {
    display: grid;
    grid-template-columns: 50px auto 50px;
    padding: 1.5rem 2.5rem;


}
.card__authorDetails { padding-left: 15px; }

.card__authorName { 
    color: var(--VeryDarkGrayishBlue);
    margin-top: 0;
    margin-bottom: 0;
}

.card__date { 
    color: var(--DesaturatedDarkBlue); 
    margin-top: 0;
    margin-bottom: 0;
}

.card__authorImage { 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: center;
}

.card__share { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LightGrayishBlue);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
}

.card__shareHidden { visibility: hidden; }

.card__shareActive {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;

    background-color: var(--VeryDarkGrayishBlue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 30px 1fr 2fr 1fr 30px;
    justify-items: start;
    align-items: center;
}

.card__shareActive .card__share { background-color: var(--DesaturatedDarkBlue);}

.card__shareActive .card__share svg { fill: #FFF; }


.card__text { 
    grid-column-start: 2;
    text-transform: uppercase;
    color: var(--DesaturatedDarkBlue);
    letter-spacing: 3.5px;
}

.card__icons {
    padding: 0;
    display: flex;
    list-style-type: none;
}

.card__icons li:not(:last-child) { padding-right: 20px;}

.card__shareContainer { justify-self: end; }

@media only screen and (min-width: 900px) {
    body { 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card { 
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 33.33% 33.33% 33.33%;
        width: 80%; 
    }

    .card__imageContainer { 
        width: 100%;
        height: auto;
        overflow: hidden;
        grid-row: 1 / 4;
    }
    
    .card__image { 
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .card__textContent { 
        display: flex;
        flex-direction: column;
    }

    .card__description { margin-bottom: 2rem; }

    .card__authorInfo { 
        margin-top: auto; 
        grid-column-start: 2;
    }

    .card__shareActive {
        width: 275px;
        height: 60px;
        border-radius: 10px;
        grid-template-columns: 30px 2fr 2fr 30px;
        top: 55%;
        left: 65% 
    }
    
    .card__shareActive .card__share { visibility: hidden; }

    .triangle {
        position: absolute;
        top: calc(55% + 60px);
        left: calc(65% + 135px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: var(--VeryDarkGrayishBlue) transparent transparent transparent;
    }

    .triangle__hidden { visibility: hidden;}
    
}