:root {
    --font-size: 13px;

    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

        
    --font-sans: 'Manrope', sans-serif;
  }

*, *::before, *::after {box-sizing: border-box;}

body {
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    background-color: var(--LightGrayishBlue);
}

img { max-width: 100%;}

.card { 
    background-color: white;
    border-radius: 10px;
    margin: 3rem 1rem;
}

.card__imageContainer { 
    height: 30vh;
    overflow: hidden;
}

.card__image { 
    display: block;
    width: 100%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__textContent { padding: 1.5rem 2.5rem; }
.card__title { color: var(--VeryDarkGrayishBlue); }

.card__description { 
    color: var(--DesaturatedDarkBlue); 
    line-height: 1.7;
}

.card__authorInfo {
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin-top: 3rem;
}
.card__authorDetails { padding-left: 15px; }

.card__authorName { 
    color: var(--VeryDarkGrayishBlue);
    margin-top: 0;
    margin-bottom: 0;
}

.card__date { 
    color: var(--DesaturatedDarkBlue); 
    margin-top: 0;
    margin-bottom: 0;
}

.card__authorImage { 
    height: 50px;
    width: 50px;
    border-radius: 100%;
    align-self: center;
}

.card__share { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LightGrayishBlue);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
}


@media only screen and (min-width: 900px) {
    body { 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card { 
        display: flex;
        width: 80%; 
    }

    .card__imageContainer { 
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .card__image { 
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .card__textContent { 
        display: flex;
        flex-direction: column;
    }

    .card__description { margin-bottom: 2rem; }

    .card__authorInfo { margin-top: auto; }
}